extends layout

block content
  h1= title
  form(method="post" action="/competition/create" novalidate)
    fieldset
    legend Enter your competition info
    p
      label 
      | Name: 
      input(type='text', name='name', value=competition.name, placeholder='Enter competition name', required)
    p
      label 
      | Club: 
      input(type='text', name='club', value=competition.club, placeholder='Enter club name')
    p
      label 
      | Description: 
      input(type='textbox', name='description', value=competition.description, placeholder='Enter competition description')
    p
      input(type="submit", value="Save")
  br