extends layout

block content
  h1= title
  form(method="post" action="/competition/create" novalidate)
    fieldset
    legend Enter your competition info
    p
      label 
      | Name: 
      input(type='text', name='name', placeholder='Enter competition name', required)
    p
      label 
      | Club: 
      input(type='text', name='club', placeholder='Enter club name')
    p
      label 
      | Description: 
      input(type='textbox', name='description', placeholder='Enter competition description')
    p
      input(type="submit", value="Save")
  br
                    
  h2 Debug info
  for competition in competitions
    p= competition.name