extends layout

block content
  //- passed into layout.jade when form.jade is rendered
  block content
    h1= title
    form(method="post" action="/competition/create")
      label(for="competition") Competition name:
      input(type="text", name="name", value=name)
      input(type="submit", value="Save")
    br
    - for competition in competitions
      p= competition.name